<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <!-- Quyền này cho phép ứng dụng của bạn nhận thông báo khi hệ thống Android khởi động lại. -->
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED"/>
    <!-- Quyền này cho phép ứng dụng của bạn sử dụng báo động chính xác. 
    Khi được cấp quyền này, bạn có thể đặt báo động với độ chính xác cao hơn, 
    giúp đảm bảo rằng báo động của bạn sẽ được kích hoạt đúng thời điểm mong muốn. -->
    <uses-permission android:name="android.permission.USE_EXACT_ALARM" />
    <!-- Quyền này cho phép ứng dụng của bạn lập lịch báo động chính xác. 
    Khi được cấp quyền này, bạn có thể lập lịch báo động với độ chính xác cao hơn, 
    giúp đảm bảo rằng báo động của bạn sẽ được kích hoạt đúng thời điểm mong muốn. -->
    <uses-permission android:name="android.permission.SCHEDULE_EXACT_ALARM" />
    <!-- Quyền này cho phép ứng dụng của bạn truy cập và thay đổi cài đặt chính sách 
    thông báo trên thiết bị. Khi được cấp quyền này, bạn có thể thay đổi cài đặt âm thanh, 
    rung và thông báo của thiết bị, cũng như quản lý quyền truy cập thông báo cho 
    các ứng dụng khác. -->
    <uses-permission android:name="android.permission.ACCESS_NOTIFICATION_POLICY"/>



    <application android:label="app_notifications" android:name="${applicationName}" android:icon="@mipmap/ic_launcher">
        <activity android:name=".MainActivity" android:exported="true" android:launchMode="singleTop" android:theme="@style/LaunchTheme" android:configChanges="orientation|keyboardHidden|keyboard|screenSize|smallestScreenSize|locale|layoutDirection|fontScale|screenLayout|density|uiMode" android:hardwareAccelerated="true" android:windowSoftInputMode="adjustResize">
            <!-- Specifies an Android theme to apply to this Activity as soon as
                 the Android process has started. This theme is visible to the user
                 while the Flutter UI initializes. After that, this theme continues
                 to determine the Window background behind the Flutter UI. -->
            <meta-data android:name="io.flutter.embedding.android.NormalTheme" android:resource="@style/NormalTheme" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <!-- Don't delete the meta-data below.
             This is used by the Flutter tool to generate GeneratedPluginRegistrant.java -->
        <meta-data android:name="flutterEmbedding" android:value="2" />

    </application>
</manifest>
